<div class="container-fluid mt-2">
    <div class="row mt-4">
        <div class="col-md-4 mt-5 pe-2 ps-5 ms-5">
            <ng-lottie [options]="lottieOptions"></ng-lottie>
        </div>
        <div class="col-md-7 ps-5 pe-5">
            <div class="intro-container" style="justify-content: flex-start; display: flex;">
                <h1 style="color: #7171fe">A Bit About Me</h1>
            </div>
            <div class="container-fluid mt-4">
                <span class="details">
                  👋 Hello, I'm <span style="color: #7171fe;">Ankita Samanta</span>,
                  a Computer Science graduate and aspiring tech innovator with a burning passion for
                  <span style="color: #7171fe">Software Engineering, Machine Learning, Data Analytics and Natural Language Processing.</span>

                </span>
            </div>
            <div class="container-fluid mt-2">
              <span class="details">
                💻 With hands-on experience in software engineering and a knack for turning data into actionable insights,
                I thrive on tackling real-world challenges. Currently, I'm embarking on a Master's journey at <span style="color: #7171fe">USC</span>.
                🚀 Actively on the lookout for <span style="color: #7171fe">full-time opportunities</span> starting
                <span style="color: #7171fe">June 2024.</span>Please feel free to reach out to me at
                <span style="color: #7171fe">ankitasa@usc.edu</span>
              </span>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="skill-heading mt-5" style="justify-content: center; display: flex;">
        <h1 style="color: #7171fe" >Work Experience</h1>
      </div>
      <p class="details" style="justify-content: center; display: flex;">Here are my past internships where I gained hands on industrial experience</p>
    </div>
    <section>
      <div class="container py-5">
        <div class="main-timeline">
          <div class="timeline left">
            <div class="card">
              <div class="card-body p-4">
                <h3 style="color:#7171fe;">SmartKnower</h3>
                <h5 style="color:#7171fe;">Jun 2023 - Aug 2023</h5>
                <h5 class="mb-4" ><strong>Software Engineer Intern</strong></h5>
                <ul>
                  <li>Engineered a REST Backend with Flask and SQLAlchemy with PostgreSQL hosted on AWS RDS</li>
                  <li>Configured a CDN Pipeline with AWS S3 buckets via CloudFront, achieved a 1.5 times increase in API performance</li>
                  <li>Implemented a scalable mailing system employing the Pub/Sub design pattern using RabbitMQ and AWS SES for efficient message delivery</li>
                  <li>Reduced server load by 70% through optimizing the mailing system architecture</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="timeline right">
            <div class="card">
              <div class="card-body p-4">
                <h3 style="color:#7171fe;">Indian Institute of Technology</h3>
                <h5 style="color:#7171fe;">Jun 2021 – Aug 2021</h5>
                <h5 class="mb-4" ><strong>Summer Research Intern</strong></h5>
                <ul>
                  <li>Developed Python scripts for efficient data aggregation</li>
                  <li>Enabled informed decision-making through analysis of critical scheduling decisions based on trend identification</li>
                  <li>Induced a 27% surge in platform performance by training thermal-latency models for diverse OpenCL kernels</li>
                  <li>Achieved an 85% reduction in manual effort through efficient data aggregation and analysis</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="timeline left">
            <div class="card">
              <div class="card-body p-4">
                <h3 style="color:#7171fe;">SmartKnower</h3>
                <h5 style="color:#7171fe;">Feb 2021 - Mar 2021</h5>
                <h5 class="mb-4" ><strong>Artificial Intelligence Intern</strong></h5>
                <ul>
                  <li>Achieved an accuracy of over 90% in identifying rare harvests through transfer learning with CNN model</li>
                  <li>Utilized hyper-spectral imaging technique to detect diseases with precision</li>
                  <li>Attained notable accuracy in disease detection using feature ranking-KNN model</li>
                  <li>Generated informative feature maps through convolution for enhanced analysis</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!--    <div class="mt-5">-->
<!--        <h1 class="skill-heading">Professional Skillsets</h1>-->
<!--    </div>-->
<!--    <div class="row" style="justify-content: center; padding-bottom: 50px">-->
<!--        <div class="col-sm-1 col-md-1 tech-icons" *ngFor="let skill of skills" title="{{skill}}">-->
<!--            <img src="assets/skills/{{skill}}.svg" style="height: 4rem; width: 4rem;" alt="{{skill}}"/>-->
<!--        </div>-->
<!--    </div>-->
</div>
